Repository frequenz-floss/frequenz-client-base-python, pull requests merged in 2024-10, with the labels that each got.

#91 Don't retry by default when the stream is exhausted
  RELEASE_NOTES.md
  src/frequenz/client/base/streaming.py
  tests/streaming/test_grpc_stream_broadcaster.py
Labels: part:docs, part:tests, type:enhancement, part:code

#90 Support http2 keep-alive
  RELEASE_NOTES.md
  src/frequenz/client/base/channel.py
  tests/test_channel.py
Labels: part:docs, part:tests, part:code

#92 Remove generic type from `BaseApiClient`
  RELEASE_NOTES.md
  src/frequenz/client/base/client.py
  tests/test_client.py
Labels: part:docs, part:tests, scope:breaking-change, type:enhancement, part:code

#93 Prepare for v0.7.0
  RELEASE_NOTES.md
Labels: part:docs

#94 Clear release notes
  RELEASE_NOTES.md
Labels: part:docs
