Repository frequenz-floss/frequenz-client-base-python, pull requests merged in 2024-09, with the labels that each got.

#79 Use `netloc` from `urlparse` to specify the host
  RELEASE_NOTES.md
  src/frequenz/client/base/channel.py
Labels: part:docs, part:code

#82 Prepare release notes for v0.6.1
  RELEASE_NOTES.md
Labels: part:docs

#83 Clear release notes
  RELEASE_NOTES.md
Labels: part:docs

#87 Replace the `stream_method` return to `AsyncIterable`
  RELEASE_NOTES.md
  src/frequenz/client/base/streaming.py
Labels: part:docs, part:code

#85 Don't allow a default port in URLs by default
  RELEASE_NOTES.md
  src/frequenz/client/base/channel.py
  tests/test_channel.py
  tests/test_client.py
Labels: part:docs, part:tests, part:code
