Repository frequenz-floss/frequenz-client-base-python, pull requests merged in 2024-02, with the labels that each got.

#18 Update to channels v1.0.0-beta.1
  pyproject.toml
Labels: part:tooling

#21 Fix typo Freqenz -> Frequenz
  .cookiecutter-replay.json
  .github/RELEASE_NOTES.template.md
  CONTRIBUTING.md
  README.md
  RELEASE_NOTES.md
  mkdocs.yml
Labels: part:docs, part:tooling

#22 docs: Add cross-referencing for gRPC
  mkdocs.yml
Labels: part:docs, part:tooling, type:enhancement

#20 Add datetime and Timestamp conversion functions
  RELEASE_NOTES.md
  pyproject.toml
  src/frequenz/client/base/conversion_helper.py
  tests/test_conversion.py
Labels: part:docs, part:tests, part:tooling, type:enhancement

#23 Improve docs and fix `copy()` type
  RELEASE_NOTES.md
  src/frequenz/client/base/grpc_streaming_helper.py
  src/frequenz/client/base/retry_strategy.py
Labels: part:docs
