Repository frequenz-floss/frequenz-client-base-python, pull requests merged in 2024-11, with the labels that each got.

#96 Revert "Remove generic type from `BaseApiClient`"
  RELEASE_NOTES.md
  src/frequenz/client/base/client.py
  tests/test_client.py
Labels: part:docs, part:tests, scope:breaking-change, part:code

#97 Clear release notes
  RELEASE_NOTES.md
Labels: part:docs

#99 Update `parse_grpc_uri` docs with keep-alive params
  src/frequenz/client/base/channel.py
Labels: cmd:skip-release-notes, part:code
