Repository frequenz-floss/frequenz-client-base-python, pull requests merged in 2024-03, with the labels that each got.

#25 Restructure modules and class names
  .github/labeler.yml
  RELEASE_NOTES.md
  pyproject.toml
  src/frequenz/client/base/conversion.py
  src/frequenz/client/base/retry.py
  src/frequenz/client/base/streaming.py
  tests/retry_strategy/test_retry_strategy.py
  tests/test_conversion.py
Labels: part:docs, part:tests, part:tooling, scope:breaking-change, type:enhancement

#28 Clear release notes
  RELEASE_NOTES.md
Labels: part:docs

#30 Downgrade minimum `protobuf` to 4.21.6
  pyproject.toml
Labels: part:tooling

#31 Improve generated docs
  mkdocs.yml
Labels: part:docs, part:tooling, type:enhancement

#32 Prepare release notes for v0.2.1
  RELEASE_NOTES.md
Labels: part:docs

#34 Don't create nox sessions twice in cross-arch tests
  .github/workflows/ci.yaml
Labels: part:tooling

#33 Clear release notes
  RELEASE_NOTES.md
Labels: part:docs

#35 Update minimum `frequenz-channels` version to `v1.0.0-rc1`
  RELEASE_NOTES.md
  pyproject.toml
  src/frequenz/client/base/streaming.py
Labels: part:docs, part:tooling

#36 Clear RELEASE_NOTES.md
  RELEASE_NOTES.md
Labels: part:docs
