Repository frequenz-floss/frequenz-client-base-python, pull requests merged in 2025-04, with the labels that each got.

#121 Implement HMAC for metadata
  RELEASE_NOTES.md
  src/frequenz/client/base/authentication.py
  src/frequenz/client/base/channel.py
  src/frequenz/client/base/client.py
  src/frequenz/client/base/signing.py
  tests/test_authentication.py
  tests/test_channel.py
  tests/test_client.py
  tests/test_signing.py
Labels: part:docs, part:tests, part:tooling, part:code

#125 Update to repo-config v0.13.2
  .github/dependabot.yml
  .github/workflows/ci-pr.yaml
  .github/workflows/ci.yaml
  RELEASE_NOTES.md
  docs/_scripts/macros.py
  mkdocs.yml
  pyproject.toml
Labels: part:docs, part:tooling

#132 Bump the minimum dependency of `grpcio`
  RELEASE_NOTES.md
  pyproject.toml
Labels: part:docs, part:tooling, type:bug
