Repository frequenz-floss/frequenz-client-base-python, pull requests merged in 2025-03, with the labels that each got.

#118 Log when stopping `GrpcStreamBroadcaster` instances
  src/frequenz/client/base/streaming.py
  tests/streaming/test_grpc_stream_broadcaster.py
Labels: cmd:skip-release-notes, part:tests, part:code

#119 Upgrade `protobuf` dependency range from `>=4.21.6, <6` to `>=5.29.2, <7`
  RELEASE_NOTES.md
  pyproject.toml
Labels: part:docs, part:tooling

#120 Prepare release notes for release v0.10.0
  RELEASE_NOTES.md
Labels: part:docs
