Repository frequenz-floss/frequenz-client-base-python, pull requests merged in 2025-05, with the labels that each got.

#142 Add interceptors for stream requests
  RELEASE_NOTES.md
  src/frequenz/client/base/authentication.py
  src/frequenz/client/base/channel.py
  src/frequenz/client/base/signing.py
  tests/test_authentication.py
  tests/test_signing.py
Labels: part:docs, part:tests, part:code

#143 Fix handling of unexpected exceptions in `GrpcStreamBroadcaster`
  RELEASE_NOTES.md
  src/frequenz/client/base/streaming.py
Labels: part:docs, part:code

#144 Reset release notes
  RELEASE_NOTES.md
Labels: part:docs

#146 Streamer: Write out events on the channels as well
  RELEASE_NOTES.md
  src/frequenz/client/base/streaming.py
  tests/streaming/test_grpc_stream_broadcaster.py
Labels: part:docs, part:tests, part:code

#147 Update release notes formatting
  RELEASE_NOTES.md
Labels: part:docs
