Repository frequenz-floss/frequenz-client-base-python, pull requests merged in 2025-06, with the labels that each got.

#145 Change interface for HMAC
  RELEASE_NOTES.md
  src/frequenz/client/base/authentication.py
  src/frequenz/client/base/channel.py
  src/frequenz/client/base/client.py
  src/frequenz/client/base/signing.py
  tests/test_channel.py
  tests/test_client.py
Labels: part:docs, part:tests, part:code

#155 Make parameters named of new_receiver
  RELEASE_NOTES.md
  src/frequenz/client/base/streaming.py
Labels: cmd:skip-release-notes, part:docs, part:tests, part:code

#157 Improve the README
  README.md
Labels: part:docs, type:enhancement
